/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
    font-family: 'Josefin Sans', sans-serif;
    --primaryColor: #8f4b37;
}

header h1 {
    text-align: center;
    margin: 0;
    padding: 1rem 2%;
    font-size: 1.5rem;
    color: var(--primaryColor);
}

.data {

    margin: auto;
    padding: 1rem 4%;
    background-color: #fefefe;
    border-radius: 20px;
    box-shadow: 0 0 6px #ccc;
    max-width: 50%;
}
.data label {
    display: block;
    margin: .5rem 0;
}
.data input {
    width: 60px;
}

.data button {
    width: 100%;
    padding: .5rem 0;
    margin: 1rem 0;
background: #a7ab95;
color: white;
text-transform: uppercase;
border: none;
border-radius: 16px;
box-shadow: 5px 5px 10px #777;
font-weight: 600;
font-size: 1.4rem;
max-width: 15rem;
}

section {
    display: flex;
    flex-wrap: wrap;
}
section div {
margin: 1rem 4%;
flex-basis: 96%;
background-color: #fafafa;
border-radius: 0 0 10px 10px;
}

section h2 {
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: .5rem 0;
    background-color: #61603c;
    color: white;
}

section ul {
    list-style-type: circle;
}

footer {
    background-color: var(--primaryColor);
    padding: 1rem 2%;
    color: #d5b799;
    text-align: center;
}