@media only screen and (min-width: 60rem) {

main {max-width: 75rem; margin: auto;}
 #cards figure {
        flex-basis: 29%;
    }

    h1 {
        font-size: 3.5rem;
    }





} /* end media query*/