/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    background-color: rgba(188, 170, 145, 0.3);
    font-family: "Tinos", serif;
}

#cards {
    display: flex;
    flex-wrap: wrap;
}

#cards figure {
    margin: 0 2% 4% 2%;
    padding: 0;
    flex-basis: 96%;
    background-color: white;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

#cards img {
    width: 100%;
}

h1 {
    background-color: #543528;
    color: #EFECE8;
    padding: 2%;
    text-align: center;
    font-weight: 700;
}

.bar {
    background-color: rgb(99, 115, 111, 80%);
    text-align: center;
    padding: .5%;
    font-size: 1.5rem;
    font-weight: 700;
    border-top-left-radius: 30px;
}

.caption {
    padding: 2%;
    font-size: 1.2rem;
    color: #543528;
}