/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-weight: 700;
}

body {
  background-color: #5b3122;
  font-family: "Noticia Text", serif;
}

/* button switcher */
body.list #list {
  display: none;
}
body.list #grid {
  display: block;
}
body.grid #list {
  display: block;
}
body.grid #grid {
  display: none;
}

/* list view */
body.list main {
  display: grid;
  grid-template-columns: 1fr;
}
body.list header {
  background-color: #e7dada;
  color: #5b3122;
}

body.list #cards figure {
  max-width: 500px;
}

body.list #cards img {
  width: 100%;
}

/* grid view */
body.grid main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body.grid header {
  background-color: #e7dada;
  color: #5b3122;
}
body.grid #cards figure {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body.grid #cards img {
  max-width: 350px;
  margin: auto;
}

body.grid #cards figcaption {
  text-align: center;
}
body.grid #cards h2 {
  text-align: center;
}
body.grid #cards img {
  width: 90%;
}

/* cards styling */

#cards h2 {
  margin: 0.5rem;
  color: #342f33;
  font-weight: 400;
}

#cards figure {
  padding: 0.5rem;
  background-color: white;
  border-radius: 5px;
}
#cards figcaption {
  color: #988d6d;
  font-weight: 700;
  line-height: 1.4rem;
}

footer {
  text-align: center;
  color: #5b3122;
  background-color: #e7dada;
  margin: 0;
  padding: 0.3rem;
}
