/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: center;
  padding: 0.5rem 2vw;
  align-items: center;
}

header h1 {
  font-size: 1rem;
  padding-left: 0.5rem;
}

main {
  margin: 1rem 2%;
}

section.who {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

section.who p {
  margin: 0;
}

section.about {
  display: flex;
  background-color: #b6a7ba;
  padding: .5rem;
}

section.about p {
  margin: 0;
}

section.about ul {
  margin: 0;
  padding: 0;
}

section.about div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: .5rem;
  width: 100%;
}

section.about div ul {
  background-color: #f1ede4;
  border-radius: 10px;
  padding: .5rem;
  list-style-position: inside;
  box-shadow: inset 0px 0px 10px #777;
}

h2 {
  font-size: 1rem;
}


.assignments a {
display: block;
padding: .8rem;
margin-bottom: .5rem;
border: 1px solid #b6a7ba;
border-radius: 10px;
background-color: #f1ede4;
color:#82659d;
text-decoration: none;
}

.assignments a:hover{
background-color: #ebd8d0;
}

footer {
  display: flex;
justify-content: center;

}
